.comment {
    position: relative;
    margin: 5px 0
}

#reply .content {
    width: 90%;
    height: 77%;
    margin: 0 auto;
    overflow: auto;
}

#reply .comment {
    padding: 0;
    max-width: 24rem;
    height: 12rem
}

#reply > div {
    height: 100%;
}

/* row of buttons */
#reply > div:first-child {
    position: absolute;
    top: 0;
}
/* the submit button */
#reply > div:first-child button:last-child {
    position: absolute;
    bottom: 5px;
    right: 0;
}

.comment {
    padding: 2rem;
    height: 8rem;
    background-color: #fff!important;
    border: 3px solid #000
}

.deleteReply {
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: red;
    color: #fff
}

.author {
    position: relative;
    right: 15px;
    bottom: 15px
}


.content {
    margin-top: 10px
}

