#story, #tags {
    position: relative;
}

#story {
    width: 85vw;
    margin: 0 auto
}

header h4 {
    margin-bottom: 5em;
    margin-top: 1.33rem;
}

#tags {
    top: 60px;
    padding: 10px;
    height: 30px;
    width: 100vw;
    background-color: #faebd7
}

section:first-of-type {
    margin-top: 50px
}

p {
    text-indent: 1.2em;
    margin: 1em 0;
    padding: 0
}

img {
    margin-top: 0;
    max-width: 80%;
    border-radius: 5px;
    max-height: 400px
}

h4+img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.storyContainer {
    margin: 140px auto 0;
    -moz-column-width: 350px;
    -webkit-column-width: 350px;
    column-width: 350px;
    -moz-column-gap: 70px;
    -webkit-column-gap: 70px;
    column-gap: 70px
}

.storyContainer p:first-child {
    margin: 0
}

hr {
    margin-top: 5em;
    height: 1px
}

@media print {
    div:not(.storyContainer),
    nav {
        display: none
    }
    body {
        background-color: #fff
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-shadow: none
    }
    h1,
    h2,
    h3 {
        margin-top: 7vh
    }
}